@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root {
    /* COLORS */
    --first-color: #1e57c6;
    --second-color: #1b81dc;
    --third-color: #23c9ef;
    --white-color: #fafafa;
    --black-color: #333333;
    --hot-pink-color: #d773eb;
    --faint-pink-color: #fca7f9;
    --hot-blue-color: #2aa3e0;
    --faint-blue-color: #94fbf6;
    --hot-purple-color: #2c1a5e;
    --faint-purple-color: #8865c7;

    /* FONT */
    --font-luckiest: "Luckiest Guy", cursive;
    --font-size: 1.5rem;
    --font-letter-spacing: 0.15rem;
}